/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* easier to check layout, disable when it's useless */
  border: solid 1px black;
}

/* Font family */
.vollkorn-title-text,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
  font-weight: 700;
}

.karla-content-text,
p,
a,
span {
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

/* 1. Please divide codes of sections by */
/* --- section naming --- */
/* for example */
/* --- product display --- */
/* for readable codes */

/* 2. Suggest class/id name = SectionName-xxxxx */
/* for example: product-container */
