/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* easier to check layout, disable when it's useless */
  /* border: solid 1px black; */
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
}

/* Font family */
.vollkorn-title-text,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
  font-weight: 700;
}

.karla-content-text,
p,
a,
span {
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

/* 1. Please divide codes of sections by */
/* --- section naming --- */
/* for example */
/* --- product display --- */
/* for readable codes */

/* 2. Suggest class/id name = SectionName-xxxxx */
/* for example: product-container */

/* --- Product display --- */

.product-display {
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
  margin: 50px auto;
}

.product-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
  border-bottom: solid 1px #dfe0e1;
}

.product-button-container {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.product-compare-button,
.product-shop-button {
  padding: 12px 21px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid 1px #dfe0e1;
  color: #989898;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
}

.product-compare-button-active {
  background-color: #c8a846;
  color: white;
}

.product-compare-button:hover,
.product-shop-button:hover {
  background-color: #c8a846;
  color: white;
}

.product-title {
  font-size: 32.3px;
}

.product-all {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.product-container {
  width: 33.3%;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.product-color-container {
  margin: 10px auto;
  display: flex;
  gap: 12px;
}

.product-color-container img {
  width: 32px;
  border-radius: 100%;
  cursor: pointer;
}

.product-color-active {
  border: solid 4px white;
  outline: solid 2px black;
}

.product-detail-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #dfe0e1;
  padding-top: 10px;
}

.product-detail-container p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.product-style {
  width: 100%;
  font-size: 16px;
  color: #989898;
  letter-spacing: 0.4px;
  font-weight: 300;
}

.product-comparison-container {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 30px;
  justify-content: flex-end;
}

/* --- Product comparison --- */

.table-hidden {
  display: none;
}

.comparison-table {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;

  /* 這東西好像也有bug，位置會跑XDD */
  backdrop-filter: blur(2px);
}

.table-filter {
  background-color: rgba(220, 220, 220, 0.5);

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.comparison-table-container {
  /* 如何實現由內部元素撐開母元素寬度?? */
  width: 80%;
  height: 90vh;
  border-radius: 1rem;
  padding: 50px;
  background-color: #fff;
  position: relative;
  border: solid 1px gray;
  box-shadow: 5px 5px 15px gray;
  z-index: 3;
}

.comparison-close-button {
  position: absolute;
  right: 13px;
  top: 13px;
  border: solid 1px #b1b1b1;
  border-radius: 100%;
  padding: 5px;
  width: 31px;
  /* height: 25px; */
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  color: #b1b1b1;
  cursor: pointer;
}

.comparison-close-button:hover {
  background-color: #c8a846;
  color: white;
}

.product-table {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

.product-table th:first-child,
.product-table td:first-child {
  width: 200px;
}

.product-table th:not(th:first-child),
.product-table td:not(td:first-child) {
  width: fit-content;
  /* 可以定義最小寬度?? */
}

.product-table tr:first-child {
  height: 100px;
}
.product-table tr:not(tr:first-child) {
  height: 50px;
}

.colored-table {
  background-color: #dfe0e1;
}

.table-product-feature {
  font-size: 20px;
}

.table-product-name {
  font-size: 20px;
}

.table-product-text {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-div-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr;
  height: 100%;
  width: 100%;
}

.material-td div {
  /* display: inline-block; */
  text-align: center;
}

.table-cart-button {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #dfe0e1;
}

.table-cart-button:hover {
  background-color: #c8a846;
  color: white;
}
