

@media (max-width: 600px) {
  body {
    margin: .5px;
    height: auto;
  }
  
  html {
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  body {
    margin: .5px;
    height: auto;
  }
  
  html {
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
  }
}

@media (min-width: 901px) {
  body {
    margin: .5px;
    height: auto;
  }
  
  html {
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
  }
}